body {
  margin: 0;
  background: #3efded76;
  font-family: "Jost", sans-serif;
}

.app {
  .wrapper {
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
    box-sizing: border-box;
    outline: none;

    h2 {
      margin-left: 50px;
    }
  }

  .user {
    display: flex;
    margin-left: 10px;
    padding-top: 10px;

    img {
      margin: 10px;
    }
    p {
      display: flex;
      align-items: center;
      font-size: 24px;
    }
  }

  .table {
    display: flex;
    justify-content: center;
    // margin: 50px;
    margin: 0 auto;
    // margin-top: 40px;
    flex-wrap: wrap;
    width: 1020px;
    justify-content: space-between;
    h3 {
      display: flex;
      width: 100%;
      margin: 0;
    }

    .score {
      display: flex;
      padding-left: 8px;
      margin-bottom: 15px;
    }
    .table_inner {
      display: flex;
      width: 500px;
    }
    th {
      padding: 4px;
      font-size: 14px;
      height: 25px;
      width: 25px;
      font-weight: 400;
      //   border: 1px #929292 solid;
    }
    tr {
      display: flex;
      flex-wrap: nowrap;
    }
    td {
      display: flex;
      justify-content: center;
      padding: 4px;
      flex: 1;
      height: 25px;
      width: 25px;
      font-size: 14px;
      padding-top: 0;

      //   border: 1px #929292 solid;
    }
  }
  .h3_graf {
    margin: 30px;
    margin-bottom: 0;
  }
  .grafic {
    margin: 50px 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .intput_score {
    text-align: center;
    border: none;
    width: 30px;
    padding: 0;
    margin: 0;
  }
}

.cardcurs {
  .cardcurs_inner {
    border: 1px #f28559 dashed;
    border-radius: 10px;
    width: 300px;
    height: 280px;
    margin: 50px;
    margin-top: 30px;
    h4 {
      font-size: 22px;
      // text-align: center;
      padding: 10px 30px;
      margin: 0;
      font-weight: 500px;
      color: #4e4e4e;
      padding-top: 20px;
    }
    p {
      margin: 0 30px;
    }
    a {
      display: flex;
      padding: 20px 30px;
      padding-bottom: 0;
    }
  }

  h3 {
    margin: 30px;
  }
}
